{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {%  for name,score in data %}
            {{ name }} - {{ score }}
        {% endfor %}
        </div>
    </div>
{% endblock %}