<image src=""></image>

<h2>Impressum </h2>
<h3>Südwestrundfunk</h3>
<p> Anstalt des öffentlichen Rechts/n
    Neckarstraße 230
    70190 Stuttgart
    Telefon: 0711 929 0
    Fax: 0711 929 11300
    Klicken Sie hier, um das Mailformular zu öffnen.

    Gesetzlicher Vertreter:
    Peter Boudgoust (Intendant)

    Umsatzsteuer-Identifikationsnummer:
    DE 812481116
</p>