<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SWR - Social Gaming Plattform</title>


    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link href="{{ asset('public/css/app.css') }}" rel="stylesheet"/>

        <link href="{{ asset('public/css/bootstrap-overwrite.css') }}" rel="stylesheet"/>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <script src="{{ asset('public/js/app.js') }}"></script>
    {% endblock %}

</head>
<body>
<div class="container-fluid">
    <div class="row">
            {% include 'SocialGamingBundle:Frontend:menu.html.twig' %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-default">
                {% block content %}
                <div id="content">
                    {% for show in shows %}
                        {{  show.name }}<br/>
                    {% endfor %}
                </div>
               {% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="header">Created by Jan, Tanja, Claudia, Daniel und Frithjof in <b>48h</b></div>
        </div>
    </div>
</div>
</body>
</html>

