{% block content %}

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <b>weitere Sendungen</b>

            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=6&cad=rja&uact=8&ved=0ahUKEwjOo7iIt6PQAhXKIMAKHdd7CqwQuAIIMTAF&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLQBBL1Op8Mw&usg=AFQjCNF8v3zqxVAJtYGEA5OWVPkwVq0oQw&bvm=bv.138493631,d.d2s"></iframe>
            </div>
<pre>
            Veröffentlicht am 09.06.2015
            Ein Umweltaktivist wird erschossen und sein Freund Henrik Paulsen
            verschwindet auf einem Windrad in der Nordsee. Die Bremer Kommissare
            Inga Lürsen und Stedefreund ermitteln mitten in einem Interessenkonflikt
            zwischen Umweltschützern und Unternehmern. Hat der Windpark-Betreiber Lars Overbeck
            etwas damit zu tun?

</pre>
        </div>

    </div>

{% endblock %}