{% block content %}
<div class="container" >
        <div class="row" style="text-align:center;">
            <b>weitere Sendungen</b>
        </div>
            <div class="row embed-responsive embed-responsive-16by9" style="text-align:center; padding-bottom: 56.25%; height:0;position:relative; ">
                <iframe class="embed-responsive-item" width="100%" height="100%" style="top:0; left:0; position:absolute; "   src="https://www.youtube.com/embed/L0FkVfZdFbM" allowfullscreen></iframe>
            </div>
    <div class="row" >
        <div class="col-xs-6"><img class="center-block img-responsive" src="{{ asset('public/img/daserste_logo.png') }}" /></div>
         <div class="col-xs-6" style="font-size: large"><b > | 20:15 </b></div>
    </div>

    <div class="row" style="text-align: center" >
         <p>
            Veröffentlicht am 09.06.2015
          </p>
            <p>
            Ein Umweltaktivist wird erschossen und sein Freund Henrik Paulsen
            verschwindet auf einem Windrad in der Nordsee. Die Bremer Kommissare
            Inga Lürsen und Stedefreund ermitteln mitten in einem Interessenkonflikt
            zwischen Umweltschützern und Unternehmern. Hat der Windpark-Betreiber Lars Overbeck
            etwas damit zu tun?
         </p>
         </div>
<div class="col-sm-8" style="text-align: center">
    <button type="button " class="btn btn-secondary btn-lg btn-block " style="background-color: #555555; color:#ffffff; width: 100%; max-width: 300px; height:50px;" > Wer ist der Mörder </button>
</div>
</div>

{% endblock %}