{% block content %}

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <b>weitere Sendungen</b>

            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=6&cad=rja&uact=8&ved=0ahUKEwjOo7iIt6PQAhXKIMAKHdd7CqwQuAIIMTAF&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLQBBL1Op8Mw&usg=AFQjCNF8v3zqxVAJtYGEA5OWVPkwVq0oQw&bvm=bv.138493631,d.d2s"></iframe>
            </div>

            SOME TEXT SOME TEXT SOME TEXT SOME TEXT
            SOME TEXT SOME TEXT SOME TEXT SOME TEXT

            <iframe src="http://youtube.com/...."></iframe>


            SOME TEXT SOME TEXT SOME TEXT SOME TEXT
            SOME TEXT SOME TEXT SOME TEXT SOME TEXT

            <iframe src="http://youtube.com/...."></iframe>

        </div>

    </div>

{% endblock %}