{% block content %}
    <div class="container" >

        <div class="row embed-responsive embed-responsive-16by9" style="text-align:center; padding-bottom: 56.25%; height:0;position:relative; ">
            <iframe width="426" height="240" src="https://www.youtube.com/embed/qdqsm2ecY_E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row" >
            <div class="col-xs-3"></div>
            <div class="col-xs-3"><img class="center-block img-responsive" style="max-height: 30px;" src="{{ asset('public/img/zdf.png') }}" /></div>
            <div class="col-xs-6" style="font-size: large"><b > | 15.11.2016 20:15 </b></div>
        </div>

        <div class="row" style="text-align: center" >
            <p>
                Veröffentlicht am 30.01.2014
            </p>
            <p>
                Jannis Niewöhner war diese Woche in der SOKO Köln Folge "Wer ohne Sünde ist" zusehen.
                Hier die Szene, wo er zu sehen ist :)
                Viel Spaß beim ansehen ^^

            </p>
        </div>
        <div class="col-sm-12" style="text-align: center">
            <button type="button" class="btn btn-secondary btn-lg btn-block ">
                <a href="#/frontend/info" style="color:#FFFFFF; text-decoration:none; ">weiter zum nächsten </a></button>
        </div>
    </div>

{% endblock %}