{% block content %}
    <div class="container" >

        <div class="row embed-responsive embed-responsive-16by9" style="text-align:center; padding-bottom: 56.25%; height:0;position:relative; ">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Faxq7mNX9Y0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row" >
            <div class="col-xs-3"></div>
            <div class="col-xs-3"><img style="max-height: 30px;" class="center-block img-responsive" src="{{ asset('public/img/zdf.png') }}" /></div>
            <div class="col-xs-6" style="font-size: large"><b > | Morgen 20:15 </b></div>
        </div>
<br>
        <div class="row" style="text-align: center" >
            <p>
                Hochgeladen am 10.05.2011
            </p>
            <div style=" margin-left:10px; margin-right:10px;">
                Im Mittelpunkt der Handlung stehen die Hauptkommissarin Karin Kofler und Andreas Blitz. Das Team klärt meist
                ungewöhnliche und komplizierte Mordfälle auf, die sich in Kitzbühel und Umgebung ereignen. Nicht selten sind
                darin Mitglieder der gehobenen Gesellschaft verwickelt, was mit dem Status des Ortes Kitzbühel als beliebtes
                Urlaubsziel von prominenten Persönlichkeiten zusammenhängt. Unterstützung erhalten die Kommissare dabei von
                Karins Vater Hannes Kofler. Dieser ist ein berühmter Haubenkoch mit eigenem Restaurant, der Pochlarner Stuben,
                und Catering-Service. Er und die Gräfin von Schönberg stellen gerne selbst Ermittlungen zu den jeweiligen Fällen
                der SOKO Kitzbühel an. Die Methoden zur Beweiserbringung von Hannes und der Gräfin bewegen sich meist am Rande
                der Legalität, was die Beiden des Öfteren in heikle Situationen bringt. Die Polizeiarbeit wird oftmals durch die
                Einmischung der Hobbydetektive behindert oder erschwert, am Ende tragen ihre Informationen doch häufig auch zur
                Aufklärung der Mordfälle bei.

            </div>
        </div>
        <div class="col-sm-12" style="text-align: center">
            <button type="button" class="btn btn-secondary btn-lg btn-block ">
                <a href="#/frontend/info_2" style="color:#FFFFFF; text-decoration:none; ">weiter zum nächsten </a></button>
        </div>
    </div>

{% endblock %}