{% block content %}

<div class="row">
    <div style='text-align: center; width: 100%; max-width: 570px'>
        <div style='text-align: left; width: 100px'>
            <form class="center-block">
                Benutzername:<br>
                <input type="text" style="width: 100%"/><br>
                Passwort:<br>
                <input type="password" width=100px /><br>
                Wiederholen:<br>
                <input type="password" /><br>
                <button class="button">Registrieren</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
