{% block content %}

<div class="row">
    <div class='col-sm-6 col-sm-offset-3'>
        <div class="row">
            <h1 style="padding: 5%">Registrieren</h1>
            <div style='text-align: center; font-size: 1.5em; width: 100%;
                padding: 5%'>
                <form>
                    <div class="row" style="text-align:left; margin-left: 10px">
                        Benutzername:<br>
                    </div>
                    <input type="text" style="width: 100%; color: #000000"/><br><br>
                    <div class="row" style="text-align:left; margin-left: 10px">
                        Passwort:<br>
                    </div>
                    <input type="password" style="width: 100%; color: #000000"/><br><br>
                    <div class="row" style="text-align:left; margin-left: 10px">
                        Wiederholen:<br>
                    </div>
                    <input type="password" style="width: 100%; color: #000000"/><br><br>
                    <button class="button" style="width: 100%">Registrieren</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
