{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <a onclick="app.navigateTo('/episode/view/1')" href="#"><img class="center-block img-responsive overlay_img" style="width:100%" src="{{ asset('public/img/tatort1.jpg') }}"  /></a>
                    <div  class="overlay_text col-md-12"><span class="glyphicon glyphicon glyphicon-play-circle" style="color:red" aria-hidden="true"></span><strong> Jetzt Live</strong>   </div>
                </div>

            </div>
            <div class="col-md-2"></div>
         </div>
        <div class="row">
            <img class="center-block img-responsive" src="{{ asset('public/img/daserste_logo.png') }}" />
        </div>
    </div>
{% endblock %}