
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-8 ">
                <div>
                    <img class="center-block img-responsive overlay_img" src="{{ asset('public/img/tatort1.jpg') }}" width="75%" height="40%" />
                    <span class="overlay_text"> Jetzt Live </span>
                </div>
            </div>
            <div class="col-md-2"></div>
         </div>
        <div class="row">
            <div>
                <img class="center-block img-responsive" src="{{ asset('public/img/daserste_logo.png') }}" width="75%"  height="5%" />

            </div>
    </div>
    </div>
{% endblock %}