<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SWR - Social Gaming Plattform</title>


    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
    {% endblock %}


    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <script src="{{ asset('public/js/app.js') }}"></script>
    {% endblock %}


</head>

<body>
<style>
    body{
        color:#000;
    }
</style>
{% if errors is defined %}
    {% for error  in errors %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <h3> Social Gaming Plattform - Admin</h3>
{% block content %}

{% endblock %}

</div>
</body>
</html>