{% extends 'SocialGamingBundle:Admin:adminlayout.html.twig' %}
{% block content %}

    {{ form_start(episodeForm) }}
    <div class="col-md-4"  >
        {{ form_widget(episodeForm) }}
    </div>
    {{ form_end(episodeForm) }}
{% endblock %}