{% extends 'SocialGamingBundle:Admin:adminlayout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            {{ form_start(hintForm) }}

            {{ form_widget(hintForm) }}

            {{ form_end(hintForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('social_gaming_backend') }}">Zurück zur Übersicht</a>
        </div>
    </div>
{% endblock %}