{% extends 'SocialGamingBundle:Admin:adminlayout.html.twig' %}
{% block content %}
    <br/>
    <a href="{{ path('social_gaming_backend_create_user') }}">User Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_show') }}">show Anlegen</a><br/>
    <a href="{{ path('social_gaming_backend_create_episode') }}">episode Anlegen</a><br/>
{% endblock %}